body {
  margin: 0;
  padding: 0;
  background-color: black !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tlo{
  height: 100%;
  width: 100%;

  
}
.kontener{
  float: left;
  height: 700px;
  width: 1200px;
}
