body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tytul{
  text-align: center;
}
ul li {
  list-style-type: circle;
  font-size: 20px;
}
.przycisk{
  margin-bottom: 10px;
  margin: 5px;
  color: #000 !important;
}

.pojemnik{
  box-shadow: 0px 0px 21px 1px #000000;
  width: 261px;
  border: 2px solid black ;
}
.pojemnikgl{
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.Kontener{
  background: linear-gradient(34deg , #2e7e01 , #003f1a);
  
}
.cialo{
    
}
.cialo h1{
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  font-family: fantasy;
}
.cialo p{
  text-align: left;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  font-family: cursive;
}