body{
    background-color: rgb(0, 0, 0);
    font-family: 'Goldman', cursive;
}
.Napis{
    font-size: 30px;
    color:white;
    margin-left: 10px;  
}
.Wynik{
    font-size: 40px;
    margin-left: 10px;  
    color:white;
}
.button1{
    background-color: rgb(4, 243, 171);
    font-size: 20px;
    margin-left: 10px;  
}
.button2{
    background-color: rgb(4, 243, 171);
    font-size: 20px;
}
.button1:hover{
    background-color: rgb(171, 250, 226);
    
}
.button2:hover{
    background-color: rgb(171, 250, 226);
}
.wiersz{
    color:white;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
.tabela{
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
    margin-left: 10px;
    color:white;
}
.tablica{
    float: left;
}
.tablica2{
    clear: both;
}
.grid{
    background-image: url('kosmos.PNG');
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 900px;
    border: 2px solid rgb(255, 255, 255);

}
.grid div{
    width: 60px;
    height: 60px;
}
.shooter{
    background-image: url('Orzeł20.png');
}
.invader{
    background-image: url('Motokomando20.png');
    border-radius: 10px;
}
.boom{
    background-image: url('boom.png');
}
.laser{
    background-image: url('Laser.png');
}
.ogien{
    background-image: url('Orzeł21.png');
}